body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #dcdde1;
  background-color: #121212;
  transition: background-color 1.5s, color 1.5s;
}

.container {
  display: flex;
  
  justify-content: center;
  transition: margin 1.5s, padding 1.5s;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.sp{
  align-items: center;
}
.contact-info img {
  height: 30px;
}

.cont {
  margin: 1px;
  transition: font-size 1.5s;
}

.sidebar {
  
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  top:0;
  margin: 20px;
  z-index: 1;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 15px;
  /* margin-left: 40px;
  margin-right: 10px; */
  transition: margin 1.5s;
}

.profile img {
  border-radius: 20%;
  margin-bottom: 20px;
  transition: margin-right 1.5s;
}

.profile-info h1, .profile-info p {
  margin: 0;
  color: #ffd966;
}

.main-content {
  position: relative;
  flex-grow: 1;
  max-width: 890px;
  background-color: #1e1e1e;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 20px;
  transition: margin-top 1.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  color: #ffd966;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 40px;
  margin-bottom: 1px;

}

h2 {
  color: #ffd966;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.projects .project {
  margin-bottom: 15px;
}

.projects h3 {
  color: #ffd966;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 1.5s, text-decoration 1.5s;
}

/* a:hover {
  text-decoration: underline;
  background-color: #121212;
  transition: background-color 1.5s;
} */

.contact {
  margin-top: 20px;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: #383838;
  padding: 10px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.navbar a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: color 0.5s, background-color 0.5s;
}

.navbar a:hover {
  background-color: #121212;
}
.burger-t{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #383838;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  margin-bottom: 10px;
}
.phone-items {
  display: none;
}

@media screen and (max-width: 1050px) {
  .phone-items {
      display: block;
  }

  .menu-items {
      display: none;
  }

  .menu-items.show {
      display: flex;
      flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .contact-info {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      transition: display 1.5s, grid-template-columns 1.5s;
  }

  .cont {
      font-size: 10px;
      transition: font-size 1.5s;
  }

  .container {
      margin: 0;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: margin 1.5s, padding 1.5s;
  }

  .main-content, .sidebar {
      width: fit-content;
      transition: width 1.5s;
  }

  .sidebar {
      margin: 0;
      position: relative;
      margin-right: 20px;
      margin-left: 20px;
      flex-wrap: wrap;
      transition: margin 1.5s;
  }

  .profile {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: space-between;
      transition: margin-right 1.5s;
  }
  .profile img{
    margin-right: 50px;
  }

}
.top-items{
  display: none;
  transition: display 1.5s;
}
 @media screen and (max-width: 400px){
  .top-items{
    display: block;

  }
  .contact-info{

    display: none;
  }
  .contact-info.show2{
    display: flex;
    transition: display 1.5s;
  }

 }
 .floating{
  animation: floatAnimation 3s ease-in-out infinite;
 }
 @keyframes floatAnimation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2px, 3px); /* Adjust these values to control the floating motion */
  }
  100% {
    transform: translate(0, 0);
  }
}


body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.project-boxes {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
  margin-top: 20px;
}
.project-boxes-a{
  
  width: fit-content;
}
a:hover {
  text-decoration: none;
}
.project-box {
  width: 40%;
  
  background-color: #242424;
  max-width: 80%;
  box-shadow: 5px 5px 15px rgba(60, 60, 60, 0.3);
  border-radius: 35px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-box:hover{
  transition: background-color 1.5s;
  background-color: #121212;
}

.project-box img {
  
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;

  
}
.project-img{
  text-align: center;
}
.project-box p {
  font-size: 14px;
  font-weight: bold;
  color: #dcdde1;
  text-align: center;
}

.about ul {
  list-style-type: none;
  padding-left: 20px;
}

.about ul li {
  margin-bottom: 10px;
}
